server{
    server_name {{ domain_name }};
    listen 80;
    listen [::]:80;

    root /var/www/html/{{ domain_name }};
    index index.php;
    error_page  404  /404.html;

    add_header X-FRAME-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/var/run/php-fpm/www.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }

    location ~* \.(?:jpg|jpeg|gif|css|png|ico|svg|html)$ {
        access_log off;
        expires max;
    }


    gzip on;
    gzip_proxied no-cache no-store private expired auth;
}
